<ul id="nav-list" class="nav navbar-nav">
 <li id="navHomeButton">
   <a ui-sref="home">
     <span class="glyphicon glyphicon-home"></span><br class="hidden-xs">Home</a>
 </li>
 <li id="navCategoryButton">
   <a ui-sref="category">
     <span class="glyphicon glyphicon-list"></span><br class="hidden-xs"> Categories</a>
 </li>
 </ul>

<div class="container">
    <table class="table table-condensed">
        <tr>
            <th>Name</th>
            <th style="text-align: center;">short Name</th>
            <th style="text-align: center;">Description</th>
            <th>Price</th>
        </tr>
        <tr ng-repeat="menuItem in menuItem.itemList">
            <td>{{menuItem.name}}</td>
            <td style="text-align: center;">{{menuItem.short_name}}</td>
            <td>{{menuItem.description}}</td>
            <td>{{menuItem.price_large}}$</td>
        </tr>
    </table>
</div>
