body {
 background-image: url("../images/1.png");
 color: white;
 background-size: cover;
  height: 100%;
  overflow: auto;
  font-family: 'Oxygen', sans-serif;
}

.text-center {
  padding-top: 30px;
  color: white;
  font-weight: bold;
  text-shadow: 3px 3px 3px #222;
  font-size: 55px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
}

.navigation {
  float: left;
  display: inline;
}



/** HEADER **/
#nav-list {
  margin-top: 10px;
  float: none;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#nav-list a {
  color: white;
  text-align: center;
}
#nav-list a:hover {
  background: brown;
}
#nav-list a span {
  font-size: 1.8em;
}
/* END HEADER */

.table, .table-condensed {
  background: rgba(0, 0, 0, 0.6);
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
  font-weight: bold;
}

.container {
  padding-top: 120px;
}
.category {
  text-align: center;

}
.table-hover {

}
